<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Mega Milly Picka!
  </h1>
  <img
    class="pointer"
    *ngIf="!dab"
    (click)="toggleDab()"
    src="https://i.imgur.com/3mb6G2k.png"
  />
  <img
    class="pointer"
    *ngIf="dab"
    (click)="toggleDab()"
    src="https://i.imgur.com/tOpdYSn.png"
  />
  <div class="margin-top">
    <div class="bold margin-bottom">Your Numbers</div>
    <span class="big" *ngFor="let white of whitePicks">{{white}} </span>
    <span class="big bold">{{megaPick}}</span>
  </div>

  <div class="margin-top">
    <div class="bold margin-bottom">Whites Remaining</div>
    <span *ngFor="let white of whites">{{white}} </span>
  </div>

  <div class="margin-top">
    <div class="bold margin-bottom">Megas Remaining</div>
    <span *ngFor="let mega of megas">{{mega}} </span>
  </div>
</div>
