.pointer {
  cursor: pointer;
  touch-action: manipulation;
}

.content {
  max-width: 300px;
  margin: auto;
}

div {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 8px;
}

.big {
  font-size: xx-large;
}
