<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <h1>
    Mega Milly Picka!
  </h1>
  <img
    class="pointer"
    *ngIf="!dab"
    (click)="toggleDab()"
    src="https://i.imgur.com/3mb6G2k.png"
  />
  <img
    class="pointer"
    *ngIf="dab"
    (click)="toggleDab()"
    src="https://i.imgur.com/tOpdYSn.png"/>
  <div class="margin-top">
    <div class="bold margin-bottom">Your Picks</div>
    <span class="big" *ngIf="whitePicks.length == 0">_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;</span>
    <span class="big" *ngFor="let white of whitePicks">{{white}}&nbsp;&nbsp;</span>
    <span class="big bold">{{megaPick}}</span>
  </div>

  <div class="margin-top">
    <div class="bold margin-bottom">White Picks Remaining</div>
    <span *ngFor="let white of whites">{{white}} </span>
  </div>

  <div class="margin-top">
    <div class="bold margin-bottom">Mega Picks Remaining</div>
    <span *ngFor="let mega of megas">{{mega}} </span>
  </div>
</div>
